<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student Registration</title>
</head>
<body>
<h1>Student Registration</h1>
<div th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="area">Area:</label>
    <input type="text" id="area" th:field="*{student.area}" required/>
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="sex">Sex:</label>
    <input type="text" id="sex" th:field="*{student.sex}"/>
  </div>
  <div>
    <label for="remark">Remark:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="courseName"> StudentCourseName:</label>
    <input type="text" id="courseName"
           th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}" />
  </div>
     <button type="submit">Register</button>
  </div>
 </form>
</body>