<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student Details</title>
</head>
<body>
<h1>Student Details</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">

  <!ブラウザで、年齢更新できない！更新のために検索してくるIDがないためと思われるので、UpdateStudenth.htmlに、ID項目増やす。
  ただ、実際は更新されたら困る項目なので、更新画面で出てきちゃダメ。隠すべき項目ではある。>
  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
  </div>

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="area">Area:</label>
    <input type="text" id="area" th:field="*{student.area}" required/>
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="sex">Sex:</label>
    <input type="text" id="sex" th:field="*{student.sex}"/>
  </div>
  <div>
    <label for="remark">Remark:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <!-- コースID -->
    <label th:for="studentsCourses__${stat.index}__id">StudentCourseID:</label>
    <input type="text"
           th:id="studentsCourses__${stat.index}__id"
           th:field="*{studentsCourses[__${stat.index}__].id}"
           th:value="${course.id}"/>

    <!-- コース名 -->
    <label th:for="studentsCourses__${stat.index}__courseName">StudentCourseName:</label>
    <input type="text"
           th:id="studentsCourses__${stat.index}__courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}"
           th:value="${course.courseName}"/>
  </div>
  <button type="submit">Update</button>
</form>
</body>